// Variables
//colors
$body-background-color: darkred;
$form-background-color: rgb(213, 168, 127);
$input-color: rgb(240, 232, 225);
$headlines-color : white;
$font: "Times New Roman";

body {
    background-color: $body-background-color;  
    font-family: $font;        
}
h1 {
    color: $headlines-color;
}
#contactform {
    background-color: $form-background-color;
    input, textarea {
        background-color: $input-color;
        flex: 2;
    }
}
// $break-small: 700px;

@mixin flex-container($axis, $wrap: nowrap) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

//set breakpoint sizes
$break-small: 20em;
$break-medium: 31em;
$break-large: 60em;

@mixin breakpoint($break) {
@if $break == large {
@media (max-width: $break-large) { @content; }
}
@else if $break == medium {
@media (max-width: $break-medium) { @content; }
}
@else if $break == small {
@media (max-width: $break-small) { @content; }
} @else {
@media ($break) { @content; }
}
}               

@mixin center ($width, $max-width: 960px) {
    width: 90%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
    
fieldset > div {
    @include flex-container(column);
    padding: 10px;
    gap: 10px;      
}

#content {
    @include center(90%);
}       

fieldset > div {
    @include breakpoint(small) {display: flex}
    @include breakpoint(small) {flex-direction: column}
    @include breakpoint(medium) {}
    @include breakpoint(large) {}
}

#name, #email, #subject {
    @include breakpoint(small) {width: 100%}
}
